<section id="fh5co-contact"  data-section="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-heading text-center">
          <h2 class="to-animate">Get In Touch</h2>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 subtext to-animate">
              <h3>Hey there, if you want to approach me just email or call directly. I'm living near Warsaw, Poland. For more about me checkout my github or linkedin account just by clicking on the icons at bottom of the page.</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-bottom-padded-md">
        <div class="col-md-6 to-animate">
          <h3 class= 'form-title01'>Contact Info</h3>
          <ul class="fh5co-contact-info">
            <li>
              <a href="https://www.google.com/maps/place/Sobieskiego+01/@52.0882291,21.1213978,18.24z/data=!4m5!3m4!1s0x47192c1cb23d060f:0x92b2ef8a75a6c6e!8m2!3d52.08851!4d21.12146" target="_blank">
              <i class="fa fa-location-arrow" aria-hidden="true"></i></a>
              <span>Ul. Sobieskiego 49/20, 05-520, Poland </span>                                                           
            </li>
            <li>
              <a href="tel:+48570747077">
              <i class="fa fa-phone-square" aria-hidden="true"></i></a>
              <span> (+48) 570 747 077</span>
            </li>

            <li>
            <a href="mailto:sandeep47momi@gmail.com?subject=feedback" target="_blank">
            <i class="fa fa-envelope" aria-hidden="true"></i></a>
            <span>sandeep47momi@gmail.com<span>
            </li>

            <li>
            <a href="http://sandeepmomi.herokuapp.com/" target="_blank">
            <i class="fa fa-globe" aria-hidden="true"></i></a>
            <span>sandeepmomi.herokuapp.com</span>
            </li>
          </ul>
        </div>
  

        <div class="col-md-6 just-form to-animate">
          <h3 class= 'form-title01'>Contact Form</h3>
          <div class="form-group ">
            <label for="name" class="sr-only">Name</label>
            <input id="name" class="form-control" placeholder="Name" type="text">
          </div>
          <div class="form-group ">
            <label for="email" class="sr-only">Email</label>
            <input id="email" class="form-control" placeholder="Email" type="email">
          </div>
          <div class="form-group ">
            <label for="phone" class="sr-only">Phone</label>
            <input id="phone" class="form-control" placeholder="Phone" type="text">
          </div>
          <div class="form-group ">
            <label for="message" class="sr-only">Message</label>
            <textarea name="" id="message" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group submit-btn">
            <input class="btn btn-primary btn-lg" value="Send" type="submit">
          </div>
          </div>
        </div>

      </div>
    </div>
  </section>