<footer id="footer" role="contentinfo">
  <div class="container footer-container">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="social social-circle">
          <li><a href="https://www.linkedin.com/profile/view?id=sandeep-kumar-66bb14128"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
          <li><a href="mailto:sandeep47momi@gmail.com?subject=feedback" "email me"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
          <li><a href="http://github.com/sandeepkumar14"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div> <!-- row -->

    <div class="row">
      <div class="col-md-12 text-center">
        <p>&copy; Momi Web Development <br>Created by <a href="http://sandeepmomi.herokuapp.com/" target="_blank">Sandeep Kumar</a></p>
      </div>
    </div>

  </div> <!-- container -->
</footer>