<nav class="navbar navbar-default nav-down templatemo-nav">
  <div class="container-fluid">
    <div class="row">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="images/logo.svg">
        </a>
      </div>

    <!-- Navigation Links -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right text-uppercase">
          <li><a class="only-link" href="#header"><i class="fa fa-home" aria-hidden="true"></i> home</a></li>
          <li><a class="only-link" href="#svg"><i class="fa fa-user" aria-hidden="true"></i> about</a></li>
          <li><a class="only-link" href="#team"><i class="fa fa-folder" aria-hidden="true"></i> work</a></li>
          <li><a class="only-link" href="#fh5co-contact"><i class="fa fa-envelope-o" aria-hidden="true"></i> contact</a></li>
          <!-- <li><a class="only-link" href="/#/#fh5co-contact"><i class="fa fa-sign-in" aria-hidden="true"></i> Login/Logout</a></li> -->
        </ul>
      </div>
    </div> <!-- row -->
  </div><!-- /.container-fluid -->
</nav>