<!-- ////////////////////////////////////////////// -->
                  <!-- Section Marquee-->
<!-- ////////////////////////////////////////////// -->
  <div class ="marquee_data row">
    <section class="marquee_panel" data-image="images/keyboard2">
    <img src="images/devices.svg" class='device-logo'>
    <img src="images/monitor.svg" class='device-logo2'>
    <img src="images/device.svg" class='device-logo3'>
    <div class="marquee-font">
        <h3>.</h3>
        <p>Know more about me. </p>
        <a class="cta" href="#/details/0">About me</a>
    </div>
    </section>
    <section class="marquee_panel" data-image="images/keyboard">
    <img src="images/devices.svg" class='device-logo'>
    <img src="images/monitor.svg" class='device-logo2'>
    <img src="images/device.svg" class='device-logo3'>
     <div class="marquee-font">
      <h3>.</h3>
      <p>Visit my Github Profile. </p>
      <a class="cta" href="http://github.com/sandeepkumar14">github</a>
      </div>
    </section>
    <section class="marquee_panel" data-image="images/slider3">
    <div class="marquee-font">
      <h3>.</h3>
      <p>Have a look at my linkedin Account.</p>
      <a class="cta" href="https://www.linkedin.com/profile/view?id=sandeep-kumar-66bb14128">Linkedin</a>
      </div>
    </section>
  </div>


