  <div class= 'svg-slider'></div>
  <div class="cd-svg-clipped-slider" data-selected="M780,0H20C8.954,0,0,8.954,0,20v760c0,11.046,8.954,20,20,20h760c11.046,0,20-8.954,20-20V20
  C800,8.954,791.046,0,780,0z" data-lateral="M795.796,389.851L410.149,4.204c-5.605-5.605-14.692-5.605-20.297,0L4.204,389.851
  c-5.605,5.605-5.605,14.692,0,20.297l385.648,385.648c5.605,5.605,14.692,5.605,20.297,0l385.648-385.648
  C801.401,404.544,801.401,395.456,795.796,389.851z">

    <div class="gallery-wrapper">
      <ul class="gallery">
        <li class="left">
          <div class="svg-wrapper">
            <svg viewBox="0 0 800 800">
              <title>Animated SVG</title>
              <defs>
                <clipPath id="cd-image-1">
                  <path id="cd-morphing-path-1" d="M795.796,389.851L410.149,4.204c-5.605-5.605-14.692-5.605-20.297,0L4.204,389.851 c-5.605,5.605-5.605,14.692,0,20.297l385.648,385.648c5.605,5.605,14.692,5.605,20.297,0l385.648-385.648 C801.401,404.544,801.401,395.456,795.796,389.851z"/>
                </clipPath>
              </defs>
              
              <image height='800px' width="800px" clip-path="url(#cd-image-1)" xlink:href="images/nodejs.jpg"></image>
              <use xlink:href="#cd-morphing-path-1" class="cover-layer" />
            </svg>
          </div> <!-- .svg-wrapper -->
        </li>

        <li class="selected">
          <div class="svg-wrapper">
            <svg viewBox="0 0 800 800">
              <title>Animated SVG</title>
              <defs>
                <clipPath id="cd-image-2">
                  <path id="cd-morphing-path-2" d="M780,0H20C8.954,0,0,8.954,0,20v760c0,11.046,8.954,20,20,20h760c11.046,0,20-8.954,20-20V20 C800,8.954,791.046,0,780,0z"/>
                </clipPath>
              </defs>
              
              <image height='800px' width="800px" clip-path="url(#cd-image-2)" xlink:href="images/angular.jpg"></image>
              <use xlink:href="#cd-morphing-path-2" class="cover-layer" />
            </svg>
          </div> <!-- .svg-wrapper -->
        </li>

        <li class="right">
          <div class="svg-wrapper">
            <svg viewBox="0 0 800 800">
              <title>Animated SVG</title>
              <defs>
                <clipPath id="cd-image-3">
                  <path id="cd-morphing-path-3" d="M795.796,389.851L410.149,4.204c-5.605-5.605-14.692-5.605-20.297,0L4.204,389.851 c-5.605,5.605-5.605,14.692,0,20.297l385.648,385.648c5.605,5.605,14.692,5.605,20.297,0l385.648-385.648 C801.401,404.544,801.401,395.456,795.796,389.851z"/>
                </clipPath>
              </defs>
              
              <image height='800px' width="800px" clip-path="url(#cd-image-3)" xlink:href="images/restapi.jpg"></image>
              <use xlink:href="#cd-morphing-path-3" class="cover-layer" />
            </svg>
          </div> <!-- .svg-wrapper -->
        </li>

        <li>
          <div class="svg-wrapper">
            <svg viewBox="0 0 800 800">
              <title>Animated SVG</title>
              <defs>
                <clipPath id="cd-image-4">
                  <path id="cd-morphing-path-4" d="M795.796,389.851L410.149,4.204c-5.605-5.605-14.692-5.605-20.297,0L4.204,389.851 c-5.605,5.605-5.605,14.692,0,20.297l385.648,385.648c5.605,5.605,14.692,5.605,20.297,0l385.648-385.648 C801.401,404.544,801.401,395.456,795.796,389.851z"/>
                </clipPath>
              </defs>
              
              <image height='800px' width="800px" clip-path="url(#cd-image-4)" xlink:href="images/mongodb.jpg"></image>
              <use xlink:href="#cd-morphing-path-4" class="cover-layer" />
            </svg>
          </div> <!-- .svg-wrapper -->
        </li>

        <li>
          <div class="svg-wrapper">
            <svg viewBox="0 0 800 800">
              <title>Animated SVG</title>
              <defs>
                <clipPath id="cd-image-5">
                  <path id="cd-morphing-path-5" d="M795.796,389.851L410.149,4.204c-5.605-5.605-14.692-5.605-20.297,0L4.204,389.851 c-5.605,5.605-5.605,14.692,0,20.297l385.648,385.648c5.605,5.605,14.692,5.605,20.297,0l385.648-385.648 C801.401,404.544,801.401,395.456,795.796,389.851z"/>
                </clipPath>
              </defs>
              
              <image height='800px' width="800px" clip-path="url(#cd-image-5)" xlink:href="images/sass.jpg"></image>
              <use xlink:href="#cd-morphing-path-5" class="cover-layer" />
            </svg>
          </div> <!-- .svg-wrapper -->
        </li>


        <li>
          <div class="svg-wrapper">
            <svg viewBox="0 0 800 800">
              <title>Animated SVG</title>
              <defs>
                <clipPath id="cd-image-6">
                  <path id="cd-morphing-path-6" d="M795.796,389.851L410.149,4.204c-5.605-5.605-14.692-5.605-20.297,0L4.204,389.851 c-5.605,5.605-5.605,14.692,0,20.297l385.648,385.648c5.605,5.605,14.692,5.605,20.297,0l385.648-385.648 C801.401,404.544,801.401,395.456,795.796,389.851z"/>
                </clipPath>
              </defs>
              
              <image height='800px' width="800px" clip-path="url(#cd-image-6)" xlink:href="images/jquery.jpg"></image>
              <use xlink:href="#cd-morphing-path-6" class="cover-layer" />
            </svg>
          </div> <!-- .svg-wrapper -->
        </li>


        <li>
          <div class="svg-wrapper">
            <svg viewBox="0 0 800 800">
              <title>Animated SVG</title>
              <defs>
                <clipPath id="cd-image-7">
                  <path id="cd-morphing-path-7" d="M795.796,389.851L410.149,4.204c-5.605-5.605-14.692-5.605-20.297,0L4.204,389.851 c-5.605,5.605-5.605,14.692,0,20.297l385.648,385.648c5.605,5.605,14.692,5.605,20.297,0l385.648-385.648 C801.401,404.544,801.401,395.456,795.796,389.851z"/>
                </clipPath>
              </defs>
              
              <image height='800px' width="800px" clip-path="url(#cd-image-7)" xlink:href="images/javascript.jpg"></image>
              <use xlink:href="#cd-morphing-path-7" class="cover-layer" />
            </svg>
          </div> <!-- .svg-wrapper -->
        </li>


        <li>
          <div class="svg-wrapper">
            <svg viewBox="0 0 800 800">
              <title>Animated SVG</title>
              <defs>
                <clipPath id="cd-image-8">
                  <path id="cd-morphing-path-8" d="M795.796,389.851L410.149,4.204c-5.605-5.605-14.692-5.605-20.297,0L4.204,389.851 c-5.605,5.605-5.605,14.692,0,20.297l385.648,385.648c5.605,5.605,14.692,5.605,20.297,0l385.648-385.648 C801.401,404.544,801.401,395.456,795.796,389.851z"/>
                </clipPath>
              </defs>
              
              <image height='800px' width="800px" clip-path="url(#cd-image-8)" xlink:href="images/gulp.jpg"></image>
              <use xlink:href="#cd-morphing-path-8" class="cover-layer" />
            </svg>
          </div> <!-- .svg-wrapper -->
        </li>


        <li>
          <div class="svg-wrapper">
            <svg viewBox="0 0 800 800">
              <title>Animated SVG</title>
              <defs>
                <clipPath id="cd-image-9">
                  <path id="cd-morphing-path-9" d="M795.796,389.851L410.149,4.204c-5.605-5.605-14.692-5.605-20.297,0L4.204,389.851 c-5.605,5.605-5.605,14.692,0,20.297l385.648,385.648c5.605,5.605,14.692,5.605,20.297,0l385.648-385.648 C801.401,404.544,801.401,395.456,795.796,389.851z"/>
                </clipPath>
              </defs>
              
              <image height='800px' width="800px" clip-path="url(#cd-image-9)" xlink:href="images/github.jpg"></image>
              <use xlink:href="#cd-morphing-path-9" class="cover-layer" />
            </svg>
          </div> <!-- .svg-wrapper -->
        </li>


        <li>
          <div class="svg-wrapper">
            <svg viewBox="0 0 800 800">
              <title>Animated SVG</title>
              <defs>
                <clipPath id="cd-image-10">
                  <path id="cd-morphing-path-10" d="M795.796,389.851L410.149,4.204c-5.605-5.605-14.692-5.605-20.297,0L4.204,389.851 c-5.605,5.605-5.605,14.692,0,20.297l385.648,385.648c5.605,5.605,14.692,5.605,20.297,0l385.648-385.648 C801.401,404.544,801.401,395.456,795.796,389.851z"/>
                </clipPath>
              </defs>
              
              <image height='800px' width="800px" clip-path="url(#cd-image-10)" xlink:href="images/bootstrap.jpg"></image>
              <use xlink:href="#cd-morphing-path-10" class="cover-layer" />
            </svg>
          </div> <!-- .svg-wrapper -->
        </li>


        <li>
          <div class="svg-wrapper">
            <svg viewBox="0 0 800 800">
              <title>Animated SVG</title>
              <defs>
                <clipPath id="cd-image-11">
                  <path id="cd-morphing-path-11" d="M795.796,389.851L410.149,4.204c-5.605-5.605-14.692-5.605-20.297,0L4.204,389.851 c-5.605,5.605-5.605,14.692,0,20.297l385.648,385.648c5.605,5.605,14.692,5.605,20.297,0l385.648-385.648 C801.401,404.544,801.401,395.456,795.796,389.851z"/>
                </clipPath>
              </defs>
              
              <image height='800px' width="800px" clip-path="url(#cd-image-11)" xlink:href="images/adobe.jpg"></image>
              <use xlink:href="#cd-morphing-path-11" class="cover-layer" />
            </svg>
          </div> <!-- .svg-wrapper -->
        </li>
      </ul>
      
      <nav>
        <ul class="navigation">
          <li><a href="#0" class="prev">Prev</a></li>
          <li><a href="#0" class="next">Next</a></li>
        </ul>
      </nav>
    </div> <!-- .gallery-wrapper -->

    <ul class="caption">
      <li class="left">
      <h1>Node JS</h1>
        <p>I have knowledge of Node js. I understand the nature of asynchronous programming in nodejs. The knowledge of module based coding and good understanding of server-side templating languages such as Jade, EJS depending on technology stack. Good knowledge about the npm packages for node and their use. My own website i crated using the node js as server-side language. I used the express as framework, body parser to parse data, nodemon to automate the server restart, mongoose to connect the data to the database and morgan for error check. Here i used few packages, but i worked with more advanced features of node like socket.io for the real time communication and crate the custom modules and import export those modules according to need. Basically i am learning more and more each day, learn technologies like node/angular is kind of hobby for me and i love working with these technologies. I am really seeking a company where i can work and learn more and more each about these awesome technologies"</p>
      </li>
      <li class="selected">
      <h1>Angular JS</h1>
        <p></p>
       </li>
      <li >
        <h1>Restful API</h1>
        <p>§</p>
      </li>
      <li >
        <h1>Mongo DB</h1>
        <p>§</p>
      </li>
      <li >
        <h1>SASS</h1>
        <p>§</p>
      </li>
      <li >
        <h1>jQuery</h1>
        <p>§</p>
      </li>
      <li >
        <h1>JavaScript</h1>
        <p>§</p>
      </li>
      <li>
        <h1>Gulp</h1>
        <p></p>
      </li>
      <li >
        <h1>Github</h1>
        <p></p>
      </li>
      <li >
        <h1>Bootstrap</h1>
        <p></p>
      </li>
      <li>
        <h1>Adobe</h1>
        <p></p>
      </li>
    </ul>
  </div> <!-- .cd-svg-clipped-slider -->