<section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Work</h2>
                    <h3 class="section-subheading text-muted">Visit Angular and Rest API sample pages using following links</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="images/angular.jpg" class="img-responsive img-circle" alt="">
                        <h4>Angular App</h4>
                        <p><a class= 'btn btn-primary' href="" title="Angular">Angular</a></p>
                        <ul class="social social-circle">
                            <li><a href="#"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="images/restapi.jpg" class="img-responsive img-circle" alt="">
                        <h4>Rest API</h4>
                        <p><a class= 'btn btn-primary' href="" title="Angular">Restful</a></p>
                        <ul class="social social-circle">
                            <li><a href="#"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="images/bootstrap.jpg" class="img-responsive img-circle" alt="">
                        <h4>Bootstrap</h4>
                        <p><a class= 'btn btn-primary' href="" title="Angular">Bootstrap</a></p>
                        <ul class="social social-circle">
                            <li><a href="#"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>