//***********************************
/* 
  By:  Sandeep Kumar
  Email: sandeep47momi@gmail.com
  GitHub: sandeepkumar14
*/
// ***********************************
// Reset
// ***********************************
@import "./components/1_reset";

// ***********************************
// bourbon
// ***********************************

@import "bourbon/bourbon";

// ***********************************
// Fonts
// ***********************************
@import "./components/2_fonts";

// ***********************************
// variables
// ***********************************s
@import "./components/3_variables";

// ***********************************



// ***********************************
// variables
// ***********************************s
@import "./components/4_mixins";

// ***********************************



// Base
// ***********************************
@import "./components/5_base";



// ***********************************
// Navigation
// ***********************************
@import "./components/6_navigation";




// Section (Sidebar Info)
// ***********************************
@import "./components/7.1_marquee";

// ***********************************


// ***********************************
// about me 
// ***********************************
@import "./components/7_aboutme";

// ***********************************



// ***********************************

// ***********************************
// Section 2
// ***********************************
@import "./components/7.3_svg-slider";

// ***********************************



// ***********************************
// Section 2
// ***********************************
@import "./components/8_gotop";

// ***********************************



// ***********************************
// Contact Detail
// ***********************************
@import "./components/8.1_contact-form";



// ***********************************
// Contact Detail
// ***********************************
@import "./components/8.2_skills";



// ***********************************
// Footer
// ***********************************
@import "./components/9_footer";







