//***********************************
/* 
  By:  Sandeep Kumar
  Email: sandeep47momi@gmail.com
  GitHub: sandeepkumar14
*/
// ***********************************
// Reset
// ***********************************
@import "./components/reset";

// ***********************************
// Fonts
// ***********************************
@import "./components/fonts";

// ***********************************
// variables
// ***********************************s
@import "./components/variables";

// ***********************************

// ***********************************
// variables
// ***********************************s
@import "./components/mixins";

// ***********************************

// Base
// ***********************************
@import "./components/base";

// ***********************************
// Navigation
// ***********************************
@import "./components/navigation";

// ***********************************
// Section 1
// ***********************************
@import "./components/aboutme";

// ***********************************

// ***********************************
// Section (Sidebar Info)
// ***********************************
@import "./components/marquee";

// ***********************************

// ***********************************
// Section 2
// ***********************************
@import "./components/svg-slider";

// ***********************************

// ***********************************
// Section 2
// ***********************************
@import "./components/_gotop";

// ***********************************

// ***********************************
// Contact Detail
// ***********************************
@import "./components/_contact";


// ***********************************
// Footer
// ***********************************
@import "./components/_footer";
















