<!DOCTYPE html>
<html lang="en">
  <!-- Head Section -->
  <head>
    <% include ./partials/head.ejs %>
  </head>

<body>

  <!-- Header section -->
  <header>
    <% include ./partials/header.ejs %>
  </header>

  <!-- Content Section -->
  <section>
    <% include ./partials/section.ejs %>
  </section>

</body>
</html>