<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
<body>
  <header>
    <% include ./partials/header.ejs %>
  </header>
  <section>
    <% include ./partials/section.ejs %>
  </section>
</body>
</html>