
/* «««««««««««««««« Color Variables««««««««««««««««««««««««*/
//////////////////////////////////////////////////////////

$blue: rgba(28, 36, 65, 0.93);
$dark-blue: #000741;
$mix-blue: #4A4E5A;
$other-blue: #032B52;
$black-blue: #0C0D0F;
$black: #111;
$light-black: #292319;
$mix-grey: #363534;
$white: #ffffff;
$light-white: #F7F5FA;
$yellow: #F2D00C;
$dark-yellow: #FFD800;
$bright-red: #b30015;
$mix-red: #B20931;
$green: #00755E;
$deep-cerulean: #0077b3;
$cyan: #24fbff;
$purple: #8a7dff;
$grey: #595959;
$dark-grey: #444;
$mine-shaft: #363636;
$orange-yellow: #E5841B;
$orange: #E64E03;
$mix-green: #5FB3AC;
$mix-green2: #008080;


$color-1: $blue;
$color-2: $dark-blue;
$color-3: $mix-blue;
$color-4: $other-blue;
$color-5: $black-blue;
$color-6: $black;
$color-7: $light-black;
$color-8: $mix-grey;
$color-9: $light-white;
$color-10: $white;
$color-11: $yellow;
$color-12: $dark-yellow;
$color-14: $bright-red;
$color-15: $mix-red;
$color-16: $green;
$color-17: $deep-cerulean;
$color-18: $cyan;
$color-19: $purple;
$color-20: $grey;
$color-21: $dark-grey;
$color-22: $mine-shaft;
$color-23: $orange-yellow;
$color-24: $orange;
$color-25: $mix-green;
$color-26: $mix-green2;


$main-text:  $color-8; // main text
$link-color: $color-15; // anchor tags
$background: $color-9; // background color

// Preloader Color
$preloader-color: $color-19;  // important

// Mobile Menu button
$toggle-btn-back : transparent;
$toggle-btn-lines : $color-9;
$hover-toggle-btn-lines : $color-9; 
$nav-hover-underline: $color-11;

// if screeen > 767
$nav-anchor-color: $color-9;

/* «««««««««««««««« Fonts««««««««««««««««««««««««*/
//////////////////////////////////////////////////////////

$primary-font: 'Graphik-Regular', sans-serif;
$secondary-font: 'Graphik-Semibold', serif;
$other-font: 'Graphik-Medium', 'verdana', sans-serif;

$primary-font-size: 16px;
$secondary-font-size: 22px;
$other-font-size: 18px;

/* «««««««««««««««« Screen Sizes ««««««««««««««««««««««««««««««*/
///////////////////////////////////////////////////////////////
$xl : 1200px;
$l : 1199px;
$m : 991px;
$s : 767px;
$ms : 600px;
$xs : 599px; 


// breakpoints

$S:     320px;   
$M:     768px;     
$L:     1170px; 


/* «««««««««««««««« Animation ««««««««««««««««««««««««*/
///////////////////////////////////////////////////////////////
$animation-duration: 0.4s;

/* «««««««««««««««« Search Box ««««««««««««««««««««««««««««««*/
///////////////////////////////////////////////////////////////




/* «««««««««««««««« Z-Index variables «««««««««««««««««««««««*/
//////////////////////////////////////////////////////////////
// z-index 

$secondary-nav: 1;
$content-zindex: 2;
$header-zindex: 3;

// header height 

$header-S: 50px;
$header-M: 70px;

//////////////////////////////////////////////////////////////
   // Variable References
//////////////////////////////////////////////////////////////

// $darken( $base-color, 10% );
// $lighten( $base-color, 10% );
// $adjust-hue( $base-color, 20% );
// $text-shadow: 0 -1px 0 darken($base-color, 10%);






























