
/* «««««««««««««««« Color Variables««««««««««««««««««««««««*/
//////////////////////////////////////////////////////////





$main-text:  ; // main text
$link-color: ; // anchor tags
$background: ; // background color


/* «««««««««««««««« Fonts««««««««««««««««««««««««*/
//////////////////////////////////////////////////////////

$primary-font: 'Graphik-Regular', sans-serif;
$secondary-font: 'Graphik-Semibold', serif;
$other-font: 'Graphik-Medium', 'verdana', sans-serif;

$primary-font-size: 16px;
$secondary-font-size: 22px;
$other-font-size: 18px;


/* «««««««««««««««« Animation ««««««««««««««««««««««««*/
///////////////////////////////////////////////////////////////


/* «««««««««««««««« Search Box ««««««««««««««««««««««««««««««*/
///////////////////////////////////////////////////////////////




/* «««««««««««««««« Z-Index variables «««««««««««««««««««««««*/
//////////////////////////////////////////////////////////////



/* «««««««««««««««« Variables for Table «««««««««««««««««««««««*/
//////////////////////////////////////////////////////////////































