// Base Style
*, *::after, *::before {
  box-sizing: border-box;
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 100%;
  overflow-x: hidden;
}
body {
  padding-top: 40px;
  position: relative;
  font: {
    size: 100%;
    family: $primary-font;
  }
  color: $main-text;
  background-color: $color-9;
  @include font-smoothing;
  overflow-x: hidden;

  &.overflow-hidden {
  overflow: hidden;
}
}

/* Base Styles for list and detail angular components */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}


a {
  color: $link-color;
  text-decoration: none;
  font-family: $secondary-font;
}
img {
  max-width: 100%;
}

input {
  font-family: $primary-font;
  font-size: 1.6rem;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.container {
  width: 100%;
  max-width: $large-device; 
  margin: 2em auto;

  &::after { /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
}


@media(min-width:768px) {
  body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }
      .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}
























