.preloader
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 110;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    /*justify-content: center;*/
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: none repeat scroll 0 0 darken($color-1, 30%);
}
.sk-spinner-rotating-plane.sk-spinner 
{
     width: 30px;
    height: 30px;
    background-color: $preloader-color;
     margin: 0 auto;
    -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
            animation: sk-rotatePlane 1.2s infinite ease-in-out;
 }

@-webkit-keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
/* end preloader */

/* Auto Hide and show the navigation menu*/
header{
    background: #f5b335;
    height: 40px;
    position: fixed;
    top: 0;
    transition: top 0.6s ease-in-out;
    width: 100%;
    z-index: 105;
}
.nav-down{
  -webkit-transition: top .5s;
  -moz-transition: top .5s;
  transition: top .2s;
}
.nav-up {
  top: -60px;
  -webkit-transition: top .1s;
  -moz-transition: top .1s;
  transition: top .2s;
}

nav.navbar-default{  /* navbar navbar-default navbar-fixed-top templatemo-nav ha-header ha-header-large*/
  background: $color-4;
  border: none;
  box-shadow: 0px 2px 8px 0px $color-3;
  margin: 0!important;
  -webkit-transition:  all 0.2s;
  transition: all 0.2s;
    /* div.ha-header-perspective 
       div.ha-header-front  */
  div.container-fluid{
    // margin-top: 15px;
    div.navbar-header{

      button.navbar-toggle{ /* collapsed */
        margin-top: 17px;
        top: -10px;
        margin-bottom: 1px;
        background-color: transparent;
        border: none;
        .icon-bar{
          background-color:$color-9; 
          padding: 2px;
       }
       .icon-bar:hover{
        background-color:$color-9; 
       }
        span.sr-only{
        }
        span.icon-bar{
        }
      }//buttton
      a.navbar-brand{
        color: $color-11;
        padding: 0 15px;
        img{
          height:  85px;
          margin:  -15px 0 0 0;
          -webkit-transition:  .2s ease-in;
          transition: .2s ease-in;
          background-repeat: no-repeat;

        }//img
      }// a.navbar-brand
      a.navbar-brand:hover{

      }
    }// div.navbar-header

    div.collapse{  // .navbar-collapse #bs-example-navbar-collapse-1
      ul.nav{  //.navbar-nav .navbar-right
        li{

          a{
            -webkit-transition:.5s ease-out;
            transition: .5s ease-out;
          }
        }
      }
    }// .navbar-collapse
  }//div.container-fluid
}//nav.navbar-default
@media(min-width:767px){
  nav.navbar-default{
    height: 85px;
    // box-shadow: none;
    border-radius: 0;
    .navbar-nav > li > a.only-link{
      padding-top: 34px;
      color: $color-9;
    }
    a.only-link:after {
      content: '';
      display: block;
      height: 5px;
      width: 0;
      margin: 0;
      transition: width .5s ease-out, background-color .5s ease-out; 
      cursor: pointer;            
    }
    a.only-link:hover {
      cursor: pointer;

    }
    a.only-link:hover:after {
      width: 100%;
      background: $color-17;
      cursor: pointer;
    }
    div.container-fluid {
      div.navbar-header{
        a.navbar-brand img{
          height:  77px;
          margin:  4px 0 0 25px;
          -webkit-transition:  .2s ease-in;
          transition: .2s ease-in;
          background-repeat: no-repeat;
        }

      }
    }
  } 
  header{
    background: #f5b335;
    height: 85px;
    position: fixed;
    top: 0;
    transition: top 0.6s ease-in-out;
    width: 100%;
    z-index: 105;
  }
  .nav-down{
    -webkit-transition: top .5s;
    -moz-transition: top .5s;
    transition: top .2s;
    opacity: 1;
    height: 0px;
  }
  .nav-up {
    top: -100px;
    -webkit-transition: top .1s;
    -moz-transition: top .1s;
    transition: top .2s;
  }
}

@media(max-width:767px) {
  nav{
    padding: 0px 0;
    .navbar-brand {
      padding: 0 0px;
    }
    a{
      font-size: 14px;
    }
  } 
nav.navbar-default div.container-fluid .row div.navbar-header a.navbar-brand img{
  height: 49px;
  margin:  3px 0 0 0;
}
.navbar-default .navbar-nav{
  li{
    a{
      color: $color-9;
      display: block;
      margin: 0px 0 0px 0 0;

    }
    a:hover{
      color: $color-4;
      background-color: $color-9;
    }
  }
} 
.navbar-toggle{
  padding: 9px 8px;
}
button.navbar-toggle.collapsed{
  top: -10px;
}
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border-color: rgba(0,0,0,.3);
}
