#footer {
  padding:15px 0;
  color: $color-2;
  position: relative;
  background-color: rgba(0,0,0,.2);
  // color: #d6d6d6;btn
  .text-center{

  p{
    color: $color-2;
    // padding-bottom: 0px;
    br{
      // padding-top: 20px;
    }
    a{
      font-family: $other-font;
      text-decoration: none;
      color: $color-11;
    }
    a:hover{
      color: $color-9;
    }
  }
  }
  .copyright {
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 0;
  }
  }

// Social
.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
  li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    a {
      font-size: 30px;
      display: table;
      width: 50px;
      height: 50px;
      margin: 0 10px;
      i {
        display: table-cell;
        vertical-align: middle;
        color: $color-4;
      }
      &:hover {
        background: $color-9!important;
        text-decoration: none;
      }

    }

  }
  &.social-box {
    a {
      background: $background;
      color: $color-4;
    }
  }
  &.social-circle {
    a {
      background: $background;
      color: $color-4;
      @include border-radius(50%);
    }
  }
}

@media screen and (max-width: 600px){
  #footer {
    padding: 1px 0 1px 0;
    margin: 0 auto;
  }
}