.preloader
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 110;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    /*justify-content: center;*/
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: none repeat scroll 0 0 #fff;
}
.sk-spinner-rotating-plane.sk-spinner 
{
     width: 30px;
    height: 30px;
    background-color: #28a7e9;
     margin: 0 auto;
    -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
            animation: sk-rotatePlane 1.2s infinite ease-in-out;
 }

@-webkit-keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
/* end preloader */

/* Auto Hide and show the navigation menu*/
header{
    background: #f5b335;
    height: 40px;
    position: fixed;
    top: 0;
    transition: top 0.6s ease-in-out;
    width: 100%;
    z-index: 105;
}
.nav-down{
  -webkit-transition: top .5s;
  -moz-transition: top .5s;
  transition: top .2s;
}
.nav-up {
  top: -60px;
  -webkit-transition: top .1s;
  -moz-transition: top .1s;
  transition: top .2s;
}

nav.navbar-default{  /* navbar navbar-default navbar-fixed-top templatemo-nav ha-header ha-header-large*/
  background: $color-4;
  border: none;
  box-shadow: 0px 2px 8px 0px $color-0;
  margin: 0!important;
  -webkit-transition:  all 0.2s;
  transition: all 0.2s;
    /* div.ha-header-perspective 
       div.ha-header-front  */
  div.container-fluid{
    // margin-top: 15px;
    div.navbar-header{

      button.navbar-toggle{ /* collapsed */
        margin-top: 17px;
        top: -5px;
        background-color: $color-2;
        .icon-bar{
          background-color:$color-4; 
       }
       .icon-bar:hover{
        background-color:$color-4; 
       }
        span.sr-only{
        }
        span.icon-bar{
        }
      }//buttton
      a.navbar-brand{
        color: $color-2;
        padding: 0 15px;
        img{
          height:  85px;
          margin:  -15px 0 0 0;
          -webkit-transition:  .2s ease-in;
          transition: .2s ease-in;
          background-repeat: no-repeat;

        }//img
      }// a.navbar-brand
      a.navbar-brand:hover{

      }
    }// div.navbar-header

    div.collapse{  // .navbar-collapse #bs-example-navbar-collapse-1
      ul.nav{  //.navbar-nav .navbar-right
        li{

          a{
            -webkit-transition:.5s ease-out;
            transition: .5s ease-out;
          }
        }
      }
    }// .navbar-collapse
  }//div.container-fluid
}//nav.navbar-default
@media(min-width:767px){
  nav.navbar-default{
    height: 85px;
    // box-shadow: none;
    border-radius: 0;
    .navbar-nav > li > a.only-link{
      padding-top: 34px;
    }
    a.only-link:after {
      content: '';
      display: block;
      height: 5px;
      width: 0;
      margin: 0;
      transition: width .5s ease-out, background-color .5s ease-out;             
    }
    a.only-link:hover {

    }
    a.only-link:hover:after {
      width: 100%;
      background: rgb(69,133,140);
    }
    div.container-fluid {
      div.navbar-header{
        a.navbar-brand img{
          height:  77px;
          margin:  4px 0 0 25px;
          -webkit-transition:  .2s ease-in;
          transition: .2s ease-in;
          background-repeat: no-repeat;
        }

      }
    }
  } 
  header{
    background: #f5b335;
    height: 85px;
    position: fixed;
    top: 0;
    transition: top 0.6s ease-in-out;
    width: 100%;
    z-index: 105;
  }
  .nav-down{
    -webkit-transition: top .5s;
    -moz-transition: top .5s;
    transition: top .2s;
    opacity: 1;
    height: 0px;
  }
  .nav-up {
    top: -100px;
    -webkit-transition: top .1s;
    -moz-transition: top .1s;
    transition: top .2s;
  }
}



@media(max-width:767px) {
  nav{
    padding: 0px 0;
    .navbar-brand {
      padding: 0 0px;
    }
    a{
      font-size: 14px;
    }
  } 
nav.navbar-default div.container-fluid .row div.navbar-header a.navbar-brand img{
  height: 50px;
  margin:  5px 0 0 0;
}
.navbar-default .navbar-nav{
  li{
    a{

    }
  }
} 
.navbar-toggle{
  padding: 9px 8px;
}
}




// ***********************************
// Logo Style
// ***********************************

/* The Header map
------------------------------------------------------------------------------
  nav: navbar navbar-inverse navbar-fixed-top cbp-af-header

      div: container-fluid

          div: navbar-header

              button: navbar-toggle collapsed
                  span: sr-only
                  span: icon-bar
                  span: icon-bar
                  span: icon-bar

              a: navbar-brand 
                  img
          --------------------------------------

          ---------------------------------------
          div: collapse navbar-collapse | id = 'bs-example-navbar-collapse-1'

              ul: nav navbar-nav navbar-right
                  li
                      a
          -------------------------------------------------------------------- 
--------------------------------------------------------------------------------*/
// ***********************************
// Header before shrink style
// ***********************************
// .navbar-inverse{
//     margin-bottom: 2px;
//     padding: 15px 10px;
//     -webkit-transition:  all 0.5s;
//     transition: all 0.5s;
//     background-color: $color-4;
    
//     // sub-container for navigation
//     .container-fluid{
//         // ««««««

//         // toggle button and logo container
//         div.navbar-header{
//             //««««««

//             // toggle button style
//             button.navbar-toggle{
//               background-color: $color-2;
//                 // «««««««
//             }
            
//             // logo-container (logo style before header shrink)
//             a.navbar-brand img{
//                 height:  72px;
//                 margin:  -26px 0 0 0;
//                 -webkit-transition:  .5s ease-out;
//                 transition: .5s ease-out;
//                 background-repeat: no-repeat;
//             }
//         }
        
//         // ul, li and a container
//         div.collapse{
//             //««««
            
//             ul{
//                 // «««
//                        .active >a {
//                         border-bottom: 2px solid rgb(234,191,95);
//                         // padding-bottom: 2px;
//                         // padding-left: 0px;
//                         // padding-right: 0;
//                         // padding-bottom: 0;  
//                         // margin-left: 20px;
//                         // margin-right: 20px; 
//                         background-color: rgba(0,0,0,.1);

//                        }
                

//                 li{
                   //«««««

                   // Link style before shrink
//                     a{
//                         color: $color-2;;
//                         font-family: inherit;
//                         font-size: 17px;
//                         font-family: $secondary-font;
//                        -webkit-transition:.5s ease-out;
//                         transition: .5s ease-out;
//                         // top: 6px;
//                         padding-bottom: 2px;
//                         padding-left: 0px;
//                         padding-right: 0;
//                         padding-bottom: 0;  
//                         margin-left: 20px;
//                         margin-right: 20px;

//                         i{
//                           font-size: 20px;
//                           -webkit-transition:0s ease-out;
//                           transition: 0s ease-out;
//                         }
//                     }
                    
//                     a:after {
//                         content: '';
//                         display: block;
//                         height: 5px;
//                         width: 0;
//                         margin: 0;
//                         transition: width .3s ease-out, background-color .3s ease-out;
//                     }
//                     a:hover {
//                         color: rgb(234,191,95);
//                     }
//                     a:hover:after {
//                         width: 100%;
//                         background: rgb(69,133,140);
//                     }
//                 }
//             }
//         }
        
//     } // .container-fluid
// }// .navbar-inverse




































