
/* «««««««««««««««« Color Variables««««««««««««««««««««««««*/
//////////////////////////////////////////////////////////


$blue: rgba(28, 36, 65, 0.93);
$light-blue: #25283D;
$pink: #8F3985;
$white: #ffffff;
$white2: #ECF0F1;
$yellow: #F2D00C;
$purple: #3d385a;
$light-purple: #9e87ce;
$red: #ea4a55;
$orange: #f25f5c;
$brown: #5c4b51;
$light-green: #8abeb2;
$mix-green:  #66d6c5;
$grey : #333333; 

$color-0: $grey;
$color-1: $pink;
$color-2: $blue;
$color-3: $light-blue;
$color-4: $white;
$color-5: $white2;
$color-6: $yellow;
$color-7: $purple;
$color-8: $light-purple;
$color-9: $red;
$color-10: $orange;
$color-11: $brown;
$color-12: $light-green;
$color-13: $mix-green;



$main-text:  $color-4; // main text
$link-color: $color-9; // anchor tags
$background: $color-2; // background color


/* «««««««««««««««« Fonts««««««««««««««««««««««««*/
//////////////////////////////////////////////////////////

$primary-font: 'Graphik-Regular', sans-serif;
$secondary-font: 'Graphik-Semibold', serif;
$other-font: 'Graphik-Medium', 'verdana', sans-serif;

$primary-font-size: 16px;
$secondary-font-size: 22px;
$other-font-size: 18px;


/* «««««««««««««««« Animation ««««««««««««««««««««««««*/
///////////////////////////////////////////////////////////////
$animation-duration: 0.4s;

/* «««««««««««««««« Search Box ««««««««««««««««««««««««««««««*/
///////////////////////////////////////////////////////////////




/* «««««««««««««««« Z-Index variables «««««««««««««««««««««««*/
//////////////////////////////////////////////////////////////



/* «««««««««««««««« Variables for Table «««««««««««««««««««««««*/
//////////////////////////////////////////////////////////////































