@charset "UTF-8";
/* 
  By:  Sandeep Kumar
  Email: sandeep47momi@gmail.com
  GitHub: sandeepkumar14
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Graphik-Semibold;
  src: url(fonts/semibold/Graphik-Semibold-Web.eot);
  src: url(fonts/semibold/Graphik-Semibold-Web.eot?#iefix) format("embedded-opentype"), url(fonts/semibold/Graphik-Semibold-Web.woff) format("woff"), url(fonts/semibold/Graphik-Semibold-Web.ttf) format("truetype"), url(fonts/semibold/Graphik-Semibold-Web.svg#Graphik-Semibold) format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Graphik-Medium;
  src: url(fonts/medium/Graphik-Medium-Web.eot);
  src: url(fonts/medium/Graphik-Medium-Web.eot?#iefix) format("embedded-opentype"), url(fonts/medium/Graphik-Medium-Web.woff) format("woff"), url(fonts/medium/Graphik-Medium-Web.ttf) format("truetype"), url(fonts/medium/Graphik-Medium-Web.svg#Graphik-Medium) format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Graphik-Regular;
  src: url(fonts/regular/Graphik-Regular-Web.eot);
  src: url(fonts/regular/Graphik-Regular-Web.eot?#iefix) format("embedded-opentype"), url(fonts/regular/Graphik-Regular-Web.woff) format("woff"), url(fonts/regular/Graphik-Regular-Web.ttf) format("truetype"), url(fonts/regular/Graphik-Regular-Web.svg#Graphik-Regular) format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

/* «««««««««««««««« Color Variables««««««««««««««««««««««««*/
/* «««««««««««««««« Fonts««««««««««««««««««««««««*/
/* «««««««««««««««« Screen Sizes ««««««««««««««««««««««««««««««*/
/* «««««««««««««««« Animation ««««««««««««««««««««««««*/
/* «««««««««««««««« Search Box ««««««««««««««««««««««««««««««*/
/* «««««««««««««««« Z-Index variables «««««««««««««««««««««««*/
/* ««««««««««««««««Media queries Bootstrap «««««««««««««««««««««««*/
*, *::after, *::before {
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 100%;
  overflow-x: hidden;
}

body {
  padding-top: 40px;
  position: relative;
  font-size: 100%;
  font-family: "Graphik-Regular", sans-serif;
  color: #363534;
  background-color: #F7F5FA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body.overflow-hidden {
  overflow: hidden;
}

/* Base Styles for list and detail angular components */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

a {
  color: #B20931;
  text-decoration: none;
  font-family: "Graphik-Semibold", serif;
}

img {
  max-width: 100%;
}

input {
  font-family: "Graphik-Regular", sans-serif;
  font-size: 1.6rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 2em auto;
}

.container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

@media (min-width: 768px) {
  body {
    padding-top: 100px;
    /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
  }
  .navbar-fixed-top .navbar-brand {
    padding: 15px 0;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 110;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  /*justify-content: center;*/
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.93);
}

.sk-spinner-rotating-plane.sk-spinner {
  width: 30px;
  height: 30px;
  background-color: #8a7dff;
  margin: 0 auto;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
  animation: sk-rotatePlane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/* end preloader */
/* Auto Hide and show the navigation menu*/
header {
  background: #f5b335;
  height: 40px;
  position: fixed;
  top: 0;
  -webkit-transition: top 0.6s ease-in-out;
  transition: top 0.6s ease-in-out;
  width: 100%;
  z-index: 105;
}

.nav-down {
  -webkit-transition: top .5s;
  -webkit-transition: top .2s;
  transition: top .2s;
}

.nav-up {
  top: -60px;
  -webkit-transition: top .1s;
  -webkit-transition: top .2s;
  transition: top .2s;
}

nav.navbar-default {
  /* navbar navbar-default navbar-fixed-top templatemo-nav ha-header ha-header-large*/
  background: #032B52;
  border: none;
  box-shadow: 0px 2px 8px 0px #4A4E5A;
  margin: 0 !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  /* div.ha-header-perspective 
       div.ha-header-front  */
}

nav.navbar-default div.container-fluid div.navbar-header button.navbar-toggle {
  /* collapsed */
  margin-top: 17px;
  top: -10px;
  margin-bottom: 1px;
  background-color: transparent;
  border: none;
}

nav.navbar-default div.container-fluid div.navbar-header button.navbar-toggle .icon-bar {
  background-color: #F7F5FA;
  padding: 2px;
}

nav.navbar-default div.container-fluid div.navbar-header button.navbar-toggle .icon-bar:hover {
  background-color: #F7F5FA;
}

nav.navbar-default div.container-fluid div.navbar-header a.navbar-brand {
  color: #F2D00C;
  padding: 0 15px;
}

nav.navbar-default div.container-fluid div.navbar-header a.navbar-brand img {
  height: 85px;
  margin: -15px 0 0 0;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  background-repeat: no-repeat;
}

nav.navbar-default div.container-fluid div.collapse ul.nav li a {
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

@media (min-width: 767px) {
  nav.navbar-default {
    height: 85px;
    border-radius: 0;
  }
  nav.navbar-default .navbar-nav > li > a.only-link {
    padding-top: 34px;
    color: #F7F5FA;
  }
  nav.navbar-default a.only-link:after {
    content: '';
    display: block;
    height: 5px;
    width: 0;
    margin: 0;
    -webkit-transition: width .5s ease-out, background-color .5s ease-out;
    transition: width .5s ease-out, background-color .5s ease-out;
    cursor: pointer;
  }
  nav.navbar-default a.only-link:hover {
    cursor: pointer;
  }
  nav.navbar-default a.only-link:hover:after {
    width: 100%;
    background: #0077b3;
    cursor: pointer;
  }
  nav.navbar-default div.container-fluid div.navbar-header a.navbar-brand img {
    height: 77px;
    margin: 4px 0 0 25px;
    -webkit-transition: .2s ease-in;
    transition: .2s ease-in;
    background-repeat: no-repeat;
  }
  header {
    background: #f5b335;
    height: 85px;
    position: fixed;
    top: 0;
    -webkit-transition: top 0.6s ease-in-out;
    transition: top 0.6s ease-in-out;
    width: 100%;
    z-index: 105;
  }
  .nav-down {
    -webkit-transition: top .5s;
    -webkit-transition: top .2s;
    transition: top .2s;
    opacity: 1;
    height: 0px;
  }
  .nav-up {
    top: -100px;
    -webkit-transition: top .1s;
    -webkit-transition: top .2s;
    transition: top .2s;
  }
}

@media (max-width: 767px) {
  nav {
    padding: 0px 0;
  }
  nav .navbar-brand {
    padding: 0 0px;
  }
  nav a {
    font-size: 14px;
  }
  nav.navbar-default div.container-fluid .row div.navbar-header a.navbar-brand img {
    height: 49px;
    margin: 3px 0 0 0;
  }
  .navbar-default .navbar-nav li a {
    color: #F7F5FA;
    display: block;
    margin: 0px 0 0px 0 0;
  }
  .navbar-default .navbar-nav li a:hover {
    color: #032B52;
    background-color: #F7F5FA;
  }
  .navbar-toggle {
    padding: 9px 8px;
  }
  button.navbar-toggle.collapsed {
    top: -10px;
  }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: rgba(0, 0, 0, 0.3);
}

.marquee {
  font-size: 16px;
  height: 450px;
  margin: -40px auto 0 auto;
  padding: 0px 0 0 0;
  margin-bottom: 10px;
}

.marquee .marquee_data {
  display: none;
}

.marquee .marquee_stage_large {
  height: inherit;
  position: relative;
  overflow: hidden;
  margin-top: 1px;
}

.marquee .marquee_container_1, .marquee .marquee_container_2 {
  height: inherit;
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
}

.marquee .marquee_container_1 {
  z-index: 101;
}

.marquee .marquee_container_2 {
  z-index: 102;
}

.marquee .marquee_panel {
  height: inherit;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background-position: center 0px;
  background-size: cover;
}

.marquee .marquee_panel .panel_caption {
  width: 68%;
  position: absolute;
  bottom: 40px;
  left: 0;
  margin-left: 16%;
  font-family: 'Lato', sans-serif;
  padding-bottom: 20px;
}

.marquee .marquee_panel .panel_caption h3 {
  font-family: "Graphik-Regular", sans-serif, serif;
  margin: 0 0 0 0;
  font-weight: 400;
  font-size: 2.7em;
  color: transparent;
}

.marquee .marquee_panel .panel_caption p {
  margin: 0 50px 15px 50px;
  color: #888;
  font-size: 1.3em;
  color: rgba(255, 255, 255, 0.75);
}

.marquee .marquee_panel .panel_caption a.cta {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0);
  text-transform: uppercase;
  color: #fff;
  font-size: .9em;
  padding: 6px 20px;
  -webkit-transition: background-color .7s, border .7s;
  transition: background-color .7s, border .7s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-decoration: none;
}

.marquee .marquee_panel .panel_caption a:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
  border-color: rgba(255, 255, 255, 0);
}

.marquee .overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(transparent 45%, rgba(0, 0, 0, 0.7) 70%);
  background-image: linear-gradient(transparent 45%, rgba(0, 0, 0, 0.7) 70%);
  background-size: 100%;
}

.marquee .marquee_nav {
  position: absolute;
  bottom: 2px;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 103;
}

.marquee .marquee_nav div {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin: 0 8px 0 8px;
  cursor: pointer;
  -webkit-transition: background-color .4s, border .4s;
  transition: background-color .4s, border .4s;
}

.marquee .marquee_nav div:hover {
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.marquee .marquee_nav div.selected {
  background-color: #fff;
}

.marquee .btn_mar {
  width: 39px;
  height: 39px;
  background: rgba(255, 255, 255, 0.2) no-repeat;
  background-size: 50px 30px;
  position: absolute;
  top: 192px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: background-color .4s, border .4s;
  transition: background-color .4s, border .4s;
}

.marquee .btn_mar:hover {
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}

.marquee .btn_mar.prev {
  left: 20px;
  z-index: 104;
  background-image: url(../images/arrow_left.svg);
  background-position: -11px 2.5px;
}

.marquee .btn_mar.next {
  right: 20px;
  z-index: 105;
  background-image: url(../images/arrow_right.svg);
  background-position: -9px 9px;
}

.marquee .marquee_stage_small {
  height: inherit;
  position: relative;
  overflow: hidden;
}

.marquee .marquee_stage_small .marquee_panel {
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
}

.device-logo, .device-logo2, .device-logo3 {
  height: 260px;
  position: absolute;
  top: -70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  margin: 0 0 0 0;
  -webkit-transition: ease-out .2s;
  transition: ease-out .2s;
}

.device-logo:hover, .device-logo2:hover, .device-logo3:hover {
  height: 270px;
  -webkit-transition: ease-in .2s;
  transition: ease-in .2s;
}

.device-logo2, .device-logo3 {
  left: 0%;
  top: -62%;
  height: 200px;
}

.device-logo2:hover, .device-logo3:hover {
  height: 210px;
}

.device-logo3 {
  left: 100%;
}

@media screen and (min-width: 1200px) {
  .marquee {
    height: 600px;
  }
  .marquee .btn_mar {
    top: 278px;
  }
  .marquee .btn_mar.next {
    right: 20px;
    z-index: 105;
    background-image: url(../images/arrow_right.svg);
    background-position: -4px 3px;
  }
  .marquee .device-logo, .marquee .device-logo2, .marquee .device-logo3 {
    height: 265px;
    top: -160%;
  }
  .marquee .device-logo:hover, .marquee .device-logo2:hover, .marquee .device-logo3:hover {
    height: 270px;
  }
  .marquee .device-logo2, .marquee .device-logo3 {
    height: 195px;
    top: -155%;
  }
  .marquee .device-logo2:hover, .marquee .device-logo3:hover {
    height: 200px;
  }
  .marquee .device-logo3 {
    height: 225px;
  }
  .marquee .device-logo3:hover {
    height: 230px;
  }
  .marquee .marquee-font {
    font-size: 20px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-2%, 9%);
    -webkit-transform: translate(-2%, -40%);
    margin: 0;
    padding: 0;
    -webkit-transition: ease-out .2s;
    transition: ease-out .2s;
  }
  .marquee .marquee_nav {
    bottom: 25px;
    left: -25px;
  }
  .marquee .marquee_nav div {
    width: 16px;
    height: 17px;
  }
}

@media screen and (max-width: 1199px) {
  .marquee-font {
    transform: translate(0%, 12%);
    -webkit-transform: translate(0%, 5%);
    margin: 0;
    -webkit-transition: ease-out .2s;
    transition: ease-out .2s;
  }
  .marquee .btn_mar.next {
    right: 20px;
    z-index: 105;
    background-image: url(../images/arrow_right.svg);
    background-position: -4px 3px;
  }
  .marquee .device-logo2, .marquee .device-logo3 {
    height: 187px;
  }
  .marquee .device-logo2:hover, .marquee .device-logo3:hover {
    height: 192px;
  }
  .marquee .device-logo3 {
    height: 205px;
  }
  .marquee .device-logo3:hover {
    height: 210px;
  }
}

@media screen and (max-width: 991px) {
  .marquee {
    font-size: 14px;
    height: 325px;
    background-color: #444;
    margin-top: 30px;
    transform: translate(0%, -23%);
    -webkit-transform: translate(0%, -23%);
  }
  .marquee .btn_mar {
    width: 32px;
    height: 32px;
    background-size: 33px 20px;
    top: 145px;
  }
  .marquee .btn_mar.prev {
    background-position: -4px 4px;
  }
  .marquee .btn_mar.next {
    background-position: 0px 4px;
  }
  .marquee .marquee_panel .panel_caption {
    width: 80%;
    margin-left: 10%;
  }
  .marquee .marquee_panel .panel_caption p {
    display: none;
  }
  .marquee .marquee_panel .panel_caption a.cta {
    margin-top: 10px;
    padding: 4px 20px;
  }
  .marquee .marquee_nav div {
    width: 13px;
    height: 13px;
    margin: 0 12px 0 12px;
  }
  .marquee .device-logo, .marquee .device-logo2, .marquee .device-logo3 {
    height: 207px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-53%, -50%);
    margin: 0;
    -webkit-transition: ease-out .2s;
    transition: ease-out .2s;
  }
  .marquee .device-logo:hover, .marquee .device-logo2:hover, .marquee .device-logo3:hover {
    height: 208px;
  }
  .marquee .device-logo2, .marquee .device-logo3 {
    -webkit-transform: translate(-226%, -54%);
    transform: translate(-226%, -54%);
    height: 140px;
  }
  .marquee .device-logo2:hover, .marquee .device-logo3:hover {
    height: 140px;
    -webkit-transition: ease-out .2s;
    transition: ease-out .2s;
  }
  .marquee .device-logo3 {
    -webkit-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
    height: 163px;
  }
  .marquee .device-logo3:hover {
    height: 164px;
  }
  .marquee .marquee-font {
    font-size: 15px;
    left: 50%;
    transform: translate(0%, 12%);
    -webkit-transform: translate(0%, 12%);
    margin: 0;
    -webkit-transition: ease-out .2s;
    transition: ease-out .2s;
  }
}

@media screen and (max-width: 816px) {
  .marquee .btn_mar.next {
    right: 3px;
    z-index: 105;
    background-image: url(../images/arrow_right.svg);
    background-position: 1px 4px;
  }
  .marquee .btn_mar.prev {
    left: 7px;
  }
  .marquee .device-logo, .marquee .device-logo2, .marquee .device-logo3 {
    height: 180px;
  }
  .marquee .device-logo:hover, .marquee .device-logo2:hover, .marquee .device-logo3:hover {
    height: 180px;
  }
  .marquee .device-logo2, .marquee .device-logo3 {
    height: 124px;
  }
  .marquee .device-logo2:hover, .marquee .device-logo3:hover {
    height: 124px;
  }
  .marquee .device-logo3 {
    height: 140px;
  }
  .marquee .device-logo3:hover {
    height: 140px;
  }
}

@media screen and (max-width: 767px) {
  .marquee {
    height: 250px;
    margin-top: 26px;
    transform: translate(0%, -20%);
    -webkit-transform: translate(0%, -4%);
  }
  .marquee .marquee_panel .panel_caption h3 {
    font-size: 25px;
  }
  .marquee .btn_mar.next {
    right: 7px;
    z-index: 105;
    background-image: url(../images/arrow_right.svg);
    background-position: 1px 4px;
  }
  .marquee .btn_mar.prev {
    left: 7px;
  }
  .marquee .device-logo, .marquee .device-logo2, .marquee .device-logo3 {
    height: 85px;
    transform: translate(-51%, -1%);
    -webkit-transform: translate(-51%, -1%);
  }
  .marquee .device-logo:hover, .marquee .device-logo2:hover, .marquee .device-logo3:hover {
    height: 87px;
  }
  .marquee .device-logo2, .marquee .device-logo3 {
    height: 60px;
    transform: translate(-233%, 9%);
    -webkit-transform: translate(-233%, 9%);
  }
  .marquee .device-logo2:hover, .marquee .device-logo3:hover {
    height: 60px;
  }
  .marquee .device-logo3 {
    height: 67px;
    transform: translate(115%, -1%);
    -webkit-transform: translate(115%, -1%);
  }
  .marquee .device-logo3:hover {
    height: 67px;
  }
  .marquee .marquee-font {
    font-size: 15px;
    left: 50%;
    margin: 0 0 0 0;
    padding: 10px 0 10px 0;
    -webkit-transition: ease-out .2s;
    transition: ease-out .2s;
    transform: translate(0%, 12%);
    -webkit-transform: translate(0%, 52%);
  }
}

/* Typed JS CSS Codes*/
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.typed-txt {
  position: relative;
}

.typed-txt .typing-container {
  background-color: transparent;
  position: absolute;
  display: block;
  z-index: 102;
  width: 1000px;
  height: 50px;
  padding: 10px 0 50px 0;
  text-align: center;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -390%);
  transform: translate(-50%, -390%);
  font-size: 40px;
  font-family: "Graphik-Semibold", serif;
}

.typed-txt .typing-container .element2 {
  display: inline-block;
  margin: 0;
  color: #F7F5FA;
  /* 
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
     margin: 0 0 0 0;
     transition: ease-out .2s;  */
}

.typed-txt .typed-cursor {
  -webkit-transform: translate(-50%, 10%);
  transform: translate(-50%, 10%);
  font-family: "Graphik-Semibold", serif;
  font-family: "Graphik-Semibold", serif;
  font-size: 50px;
  display: inline-block;
  color: #F7F5FA;
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .typing-container {
    margin-top: -45px;
  }
}

@media screen and (max-width: 1199px) {
  .typing-container {
    margin-top: 70px;
  }
  .typing-container .element2 {
    font-size: 30px;
  }
  .typing-container .typed-cursor {
    font-size: 35px;
  }
}

@media screen and (max-width: 991px) {
  .typing-container {
    margin-top: 35px;
  }
  .typing-container .element2 {
    font-size: 30px;
  }
  .typing-container .typed-cursor {
    font-size: 35px;
  }
}

@media screen and (max-width: 767px) {
  .typing-container {
    margin-top: 85px;
  }
}

@media screen and (max-width: 691px) {
  .typing-container {
    margin-top: 80px;
  }
  .typing-container .element2 {
    font-size: 25px;
  }
  .typing-container .typed-cursor {
    font-size: 35px;
  }
}

@media screen and (max-width: 500px) {
  .typing-container {
    margin-top: 80px;
  }
  .typing-container .element2 {
    font-size: 20px;
  }
  .typing-container .typed-cursor {
    font-size: 35px;
  }
}

/* The style for ng-view*/
.view-container {
  min-height: 800px;
}

.view-container .row .col-xs-12 .ng-scope {
  min-height: 8000px;
  max-height: 400px;
  background-color: #000741;
}

section {
  padding: 30px 0 0 0;
}

section .text-center h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section .text-center p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

section .text-center h4.service-heading {
  font-size: 20px;
}

section .text-center h3.section-subheading {
  font-size: 16px;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 0px;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-svg-clipped-slider {
  width: 100%;
  max-width: 1200px;
  margin: 4em auto;
}

.cd-svg-clipped-slider .gallery-wrapper,
.cd-svg-clipped-slider .gallery,
.cd-svg-clipped-slider .caption {
  position: relative;
}

.cd-svg-clipped-slider .gallery li {
  /* slider images */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 25%;
  /* (100% - width)/2 */
  width: 50%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translateX(75%) scale(0.4);
  transform: translateX(75%) scale(0.4);
  cursor: pointer;
  -webkit-transition: opacity .3s, -webkit-transform .3s ease-in-out;
  transition: opacity .3s, -webkit-transform .3s ease-in-out;
  transition: opacity .3s, transform .3s ease-in-out;
  transition: opacity .3s, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.cd-svg-clipped-slider .gallery li.selected {
  /* slide in the center */
  position: relative;
  z-index: 3;
  height: 0;
  padding-bottom: 50%;
  /* width(50%) * image aspect ratio (800/800) */
  opacity: 1;
  -webkit-transform: translateX(0) scale(1);
  transform: translateX(0) scale(1);
  cursor: auto;
}

.cd-svg-clipped-slider .gallery li.left, .cd-svg-clipped-slider .gallery li.left-hide {
  /* slides on the left */
  /* .left -> slide visible on the left; .left-hide -> slides hidden on the left */
  -webkit-transform: translateX(-75%) scale(0.4);
  transform: translateX(-75%) scale(0.4);
}

.cd-svg-clipped-slider .gallery li.left, .cd-svg-clipped-slider .gallery li.right {
  /* .right -> slide visible on the right */
  z-index: 2;
  opacity: 1;
}

.cd-svg-clipped-slider .svg-wrapper {
  /* using padding Hack to fix bug on IE - svg height not properly calculated */
  height: 0;
  padding-bottom: 100%;
  /* image aspect ratio (800/800) * 100 */
}

.cd-svg-clipped-slider svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cd-svg-clipped-slider use.cover-layer {
  /* dark layer visible on lateral slides */
  fill: rgba(0, 0, 0, 0.4);
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: .9;
}

.cd-svg-clipped-slider use.cover-layer:hover {
  opacity: .2;
}

.cd-svg-clipped-slider .gallery li.selected use.cover-layer {
  opacity: 0;
}

.cd-svg-clipped-slider .caption {
  margin: 1em 0;
  overflow: hidden;
}

.cd-svg-clipped-slider .caption li {
  /* slide titles */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
  opacity: 0;
  padding: 1em 0;
  -webkit-transition: opacity .3s, -webkit-transform .3s ease-in-out;
  transition: opacity .3s, -webkit-transform .3s ease-in-out;
  transition: opacity .3s, transform .3s ease-in-out;
  transition: opacity .3s, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.cd-svg-clipped-slider .caption li.selected {
  /* slide visible in the center */
  z-index: 2;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.cd-svg-clipped-slider .caption li.left {
  /* slide hidden on the left */
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
}

@media only screen and (min-width: 1199px) {
  .cd-svg-clipped-slider .caption li {
    font-size: 2.4rem;
  }
}

@media only screen and (min-width: 991px) {
  .cd-svg-clipped-slider {
    width: 90%;
  }
  .cd-svg-clipped-slider .gallery li {
    left: 30%;
    /* (100% - width)/2 */
    width: 40%;
    -webkit-transform: translateX(80%) scale(0.4);
    transform: translateX(80%) scale(0.4);
  }
  .cd-svg-clipped-slider .gallery li.selected {
    padding-bottom: 40%;
    /* width(40%) * image aspect ratio (800/800) */
  }
  .cd-svg-clipped-slider .gallery li.left, .cd-svg-clipped-slider .gallery li.left-hide {
    -webkit-transform: translateX(-80%) scale(0.4);
    transform: translateX(-80%) scale(0.4);
  }
}

.cd-svg-clipped-slider .navigation a {
  /* slider arrows */
  position: absolute;
  /* center arrow in the lateral preview */
  /* left = */
  /* 25% (.left left value) */
  /* - 37.5% (.left translateX value converted to container percentage ( 50%(.left width) x 75% (.left translate value) /100) ) */
  /* + 25% ( .left width (50%)/2 ) */
  left: 12.5%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.7);
  transform: translateX(-50%) translateY(-50%) scale(0.7);
  top: 50%;
  z-index: 4;
  pointer-events: none;
  /* replace text with image */
  height: 48px;
  width: 48px;
  color: transparent;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s, -webkit-transform .3s;
  background: url(../images/cd-icon-arrows.svg) no-repeat 0 0;
}

.cd-svg-clipped-slider .navigation a.next {
  left: auto;
  right: 12.5%;
  -webkit-transform: translateX(50%) translateY(-50%) scale(0.7);
  transform: translateX(50%) translateY(-50%) scale(0.7);
  background-position: -48px 0;
}

.no-csspointerevents .cd-svg-clipped-slider .navigation a {
  display: none;
}

@media only screen and (min-width: 991px) {
  .cd-svg-clipped-slider .navigation a {
    left: 18%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .cd-svg-clipped-slider .navigation a.next {
    left: auto;
    right: 18%;
    -webkit-transform: translateX(50%) translateY(-50%);
    transform: translateX(50%) translateY(-50%);
  }
}

.cd-svg-clipped-slider.prev-hidden .navigation a.prev,
.cd-svg-clipped-slider.next-hidden .navigation a.next {
  /* hide prev/next arrow if first/last slide */
  opacity: 0;
}

.cd-svg-clipped-slider .navigation a.prev.active {
  /* scale up prev arrow on active */
  -webkit-animation: cd-click-prev .3s;
  animation: cd-click-prev .3s;
}

.cd-svg-clipped-slider .navigation a.next.active {
  /* scale up next arrow on active */
  -webkit-animation: cd-click-next .3s;
  animation: cd-click-next .3s;
}

@-webkit-keyframes cd-click-prev {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
    transform: translateX(-50%) translateY(-50%) scale(0.8);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}

@keyframes cd-click-prev {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
    transform: translateX(-50%) translateY(-50%) scale(0.8);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}

@-webkit-keyframes cd-click-next {
  0% {
    -webkit-transform: translateX(50%) translateY(-50%) scale(0.8);
    transform: translateX(50%) translateY(-50%) scale(0.8);
  }
  100% {
    -webkit-transform: translateX(50%) translateY(-50%) scale(1);
    transform: translateX(50%) translateY(-50%) scale(1);
  }
}

@keyframes cd-click-next {
  0% {
    -webkit-transform: translateX(50%) translateY(-50%) scale(0.8);
    transform: translateX(50%) translateY(-50%) scale(0.8);
  }
  100% {
    -webkit-transform: translateX(50%) translateY(-50%) scale(1);
    transform: translateX(50%) translateY(-50%) scale(1);
  }
}

h3.section-subheading {
  padding-bottom: 20px;
}

.img-centered {
  margin: 0 auto;
}

.img-circle {
  border-radius: 50%;
  width: 200px;
}

.team-member {
  text-align: center;
  margin-bottom: 50px;
}

.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.team-member p.btn {
  margin-top: 0;
}

.gotop {
  width: 100%;
  max-width: 1200px;
  margin: 2em auto;
}

.gotop::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

main p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.6;
  margin: 2em 0;
}

@media only screen and (min-width: 991px) {
  main p {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(178, 9, 49, 0.8) url(../images/go-top.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.no-touch .cd-top:hover {
  background-color: #b20931;
  opacity: 1;
}

@media only screen and (min-width: 1199px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 991px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

#fh5co-contact {
  margin: 0 auto;
  padding-bottom: 0;
}

#fh5co-contact .fh5co-contact-info {
  padding-top: 0;
  margin: 0 0 1.5em 0;
}

#fh5co-contact .fh5co-contact-info li {
  position: relative;
  padding: 0;
  margin: 0 0 1.5em 0;
  padding-left: 50px;
  list-style: none;
}

#fh5co-contact .fh5co-contact-info li i {
  position: absolute;
  top: .2em;
  left: 0;
}

#fh5co-contact .fh5co-contact-info li span {
  font-size: 14px;
}

.form-title01 {
  font-weight: 300;
  line-height: 1.5;
  color: #4A4E5A;
  font-family: "Graphik-Medium", "verdana", sans-serif;
  margin-bottom: 10px;
}

@media screen and (max-width: 991px) {
  .form-title01 {
    font-size: 24px !important;
    line-height: 34px;
  }
}

.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 10px;
  clear: both;
}

.section-heading h2 {
  margin: 0 0 20px 0;
  font-size: 50px;
  font-weight: 300;
  color: #4A4E5A;
  text-transform: uppercase;
  position: relative;
  display: block;
  padding-bottom: 20px;
  line-height: 1.5;
}

.section-heading h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 4px;
  background: rgba(28, 36, 65, 0.93);
  left: 50%;
  margin-left: -53px;
  bottom: 0;
}

@media screen and (max-width: 991px) {
  .section-heading h2 {
    font-size: 30px;
  }
}

.section-heading h3 {
  font-weight: 300;
  line-height: 1.5;
  color: #363534;
}

@media screen and (max-width: 991px) {
  .section-heading h3 {
    font-size: 14px !important;
    line-height: 25px;
  }
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 44px;
  font-size: 18px;
  font-weight: 400;
  color: #595959;
}

.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #5FB3AC;
}

.btn {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.btn:hover, .btn:active, .btn:focus {
  outline: none;
}

#fh5co-contact {
  padding-bottom: 0;
  padding-top: 0px;
}

#fh5co-contact .fh5co-contact-info {
  padding: 0;
  margin: 0 0 1.5em 0;
}

#fh5co-contact .fh5co-contact-info li {
  position: relative;
  margin: 4px 0 10px 0;
  padding-left: 30px;
  list-style: none;
}

#fh5co-contact .fh5co-contact-info li i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  color: #032B52;
}

#fh5co-contact .fh5co-contact-info li i:hover {
  color: #00755E;
}

#fh5co-contact .fh5co-contact-info li span {
  line-height: 1.6;
}

.just-form .form-group {
  border-radius: 5%;
}

.just-form #message {
  max-height: 80px;
  min-width: 70px;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn.btn-primary {
  background: #032B52;
  color: #F7F5FA;
  border: none !important;
  border: 2px solid transparent !important;
  border-radius: 10%;
}

.btn:hover, .btn:active, .btn:focus {
  background: #00755E !important;
  color: #F7F5FA;
  outline: none !important;
}

@media screen and (max-width: 991px) {
  .btn {
    letter-spacing: 0px;
    padding: 8px 15px 8px 15px;
    font-size: 16px;
    font-family: "Graphik-Medium", "verdana", sans-serif;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-md {
  padding-bottom: 0;
}

@media screen and (max-width: 991px) {
  .row-bottom-padded-md {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 991px) {
  .submit-btn {
    margin-bottom: 0;
  }
}

.fh5co-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.list-container .row .col-xs-12 {
  padding: 0 0;
  margin: 0 0;
}

.search {
  background: #000741;
  color: #032B52;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 0px;
  padding: 20px 30px;
  z-index: 20;
}

.search h1 {
  color: #032B52;
  font-family: "Graphik-Semibold", serif;
  font-size: 30px;
  padding: 20px 0;
}

.search label.formgroup {
  display: inline;
  width: auto;
  font-size: 15px;
}

.search label.formgroup select {
  display: inline;
  font-size: 20px;
  color: #000741;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  outline: 0;
}

.skillslist {
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;
  opacity: .95;
  z-index: 10;
}

@media screen and (min-width: 600px) {
  .skillslist {
    padding: 0 30px 0 30px;
  }
}

ul.skillslist {
  background: rgba(0, 0, 0, 0.6);
}

ul.skillslist li {
  margin: 0;
  padding: 10px 0 0 10px;
  border-bottom: 1px dotted black;
  opacity: .9;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

ul.skillslist li a {
  display: block;
  text-decoration: none;
  color: #032B52;
  background: red;
}

ul.skillslist li a img {
  size: 100%;
}

ul.skillslist li a:hover {
  color: #F7F5FA;
}

ul.skillslist li:hover {
  background: #000741;
  opacity: 1;
  -webkit-transform: scale(o 0.99);
  transform: scale(0.99);
  border-radius: 1%;
}

/* Detail Page Style*/
.btn-detail {
  display: inline-block;
  padding: 2px 10px;
  margin-bottom: 0;
  margin: 0 20px 0 0;
  font-size: 30px;
  line-height: 140%;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #000741;
  color: #032B52;
}

.btn-detail:hover {
  text-decoration: none;
  color: #F7F5FA;
  background-color: #292319;
}

.btn .btn-left {
  float: left;
}

.btn .btn-right {
  float: right;
}

.btn:hover {
  background: #F7F5FA;
  text-decoration: none;
}

.skill a img {
  display: block;
  float: left;
  border-radius: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.skill a div.info {
  display: block;
  float: left;
  padding-left: 60px !important;
}

.skill:last-child {
  border-bottom: none;
}

.skillinfo {
  font-size: "Graphik-Regular", sans-serif;
  line-height: 160%;
  background: #EEE8D5;
  color: #0F4150;
  width: 90%;
  min-width: 320px;
  max-width: 620px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 30px;
  border-radius: 10px;
  z-index: 20;
}

.skillinfo .skill h1 {
  font-size: 60px;
  margin-bottom: 0;
}

.info h3 {
  font-size: 20px;
  margin-bottom: 0;
  font-family: "Graphik-Semibold", serif;
  padding: 10px 20px 10px 20px;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.info h3:hover {
  background-color: black;
}

.info img {
  width: 100%;
  max-width: 130px;
  border-radius: 20px;
  display: inline;
}

.skill.ng-enter.ng-enter-active,
.skill.ng-leave {
  opacity: 1;
  height: 80px;
  overflow: hidden;
}

.skill.ng-leave.ng-leave-active,
.skill.ng-enter {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.backHome {
  display: block;
  text-decoration: none;
  margin-top: 10px;
}

.backHome:hover {
  color: #000741;
  text-decoration: none;
}

#footer {
  padding: 15px 0;
  color: #000741;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}

#footer .text-center p {
  color: rgba(28, 36, 65, 0.93);
}

#footer .text-center p a {
  font-family: "Graphik-Medium", "verdana", sans-serif;
  text-decoration: none;
  color: #00755E;
}

#footer .text-center p a:hover {
  color: #b30015;
}

#footer .copyright {
  font-size: 16px;
  margin-bottom: 0px;
  padding-bottom: 0;
}

.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}

.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.social li a {
  font-size: 30px;
  display: table;
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.social li a i {
  display: table-cell;
  vertical-align: middle;
  color: #032B52;
}

.social li a:hover {
  background: #5FB3AC;
  text-decoration: none;
}

.social.social-box a {
  background: #F7F5FA;
  color: #032B52;
}

.social.social-circle a {
  background: #F7F5FA;
  color: #032B52;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  #footer {
    padding: 1px 0 1px 0;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=../maps/css/style.css.map */
