<!DOCTYPE html>
<html lang="en">
<!--/////////////////////////////////////////////////////////
«««««««««««««««««««««« Head Section ««««««««««««««««««««««««*/
//////////////////////////////////////////////////////////-->
<% include ../partials/head.ejs %>

<body>
<!--/////////////////////////////////////////////////////////
«««««««««««««««««««««« Preoader ««««««««««««««««««««««««*/
//////////////////////////////////////////////////////////-->
<div class="preloader">
  <div class="sk-spinner sk-spinner-rotating-plane"></div>
</div>

<!--/////////////////////////////////////////////////////////
«««««««««««««« Header & Navigation SECTION ««««««««««««««*/
//////////////////////////////////////////////////////////-->

<% include ../partials/header.ejs %>


<!--/////////////////////////////////////////////////////////
««««««««««««««   Marquee / Intro Section      ««««««««««««««*/
//////////////////////////////////////////////////////////-->
<div class="marquee container-fluid">
<% include ../partials/marquee.ejs %>
</div>

<!--/////////////////////////////////////////////////////////
««««««««««««««   Typed.js     ««««««««««««««*/
//////////////////////////////////////////////////////////-->
<% include ../partials/typed.ejs %>

<!--/////////////////////////////////////////////////////////
««««««««««««««   About Me     ««««««««««««««*/
//////////////////////////////////////////////////////////-->

<!--/////////////////////////////////////////////////////////
««««««««««««««   SVG Slider    ««««««««««««««*/
//////////////////////////////////////////////////////////-->
<% include ../partials/svg-slider.ejs %>


<!--/////////////////////////////////////////////////////////
««««««««««««««   Contact     ««««««««««««««*/
//////////////////////////////////////////////////////////-->
<% include ../partials/contact.ejs %>


<!--/////////////////////////////////////////////////////////
««««««««««««««   Footer      ««««««««««««««*/
//////////////////////////////////////////////////////////-->
<% include ../partials/footer.ejs %>

</body>
</html>