<!DOCTYPE html>
<html lang="en">
<!--/////////////////////////////////////////////////////////
«««««««««««««««««««««« Head Section ««««««««««««««««««««««««*/
//////////////////////////////////////////////////////////-->
  <% include ../partials/head.ejs %>
<body>
<div class="preloader">
  <div class="sk-spinner sk-spinner-rotating-plane"></div>
</div>
<!--/////////////////////////////////////////////////////////
«««««««««««««« Header & Navigation SECTION ««««««««««««««*/
//////////////////////////////////////////////////////////-->
<header>
    <% include ../partials/header.ejs %>
</header>

<!--/////////////////////////////////////////////////////////
««««««««««««««   Marquee / Intro Section      ««««««««««««««*/
//////////////////////////////////////////////////////////-->
<div id="header"></div>
<div  class="marquee container-fluid">
  <% include ../partials/marquee.ejs %>
</div>

<!--/////////////////////////////////////////////////////////
««««««««««««««   Typed.js     ««««««««««««««*/
//////////////////////////////////////////////////////////-->
<% include ../partials/typed.ejs %>

<!--/////////////////////////////////////////////////////////
««««««««««««««   About Me     ««««««««««««««*/
//////////////////////////////////////////////////////////-->
  <% include ../partials/aboutme.ejs %>


<!--/////////////////////////////////////////////////////////
««««««««««««««   SVG Slider    ««««««««««««««*/
//////////////////////////////////////////////////////////-->
  <% include ../partials/svg-slider.ejs %>

<!--/////////////////////////////////////////////////////////
««««««««««««««   SVG Slider    ««««««««««««««*/
//////////////////////////////////////////////////////////-->
  <% include ../partials/work.ejs %>


<!--/////////////////////////////////////////////////////////
««««««««««««««   Contact     ««««««««««««««*/
//////////////////////////////////////////////////////////-->
  <% include ../partials/contact.ejs %>


<!--/////////////////////////////////////////////////////////
««««««««««««««   Footer      ««««««««««««««*/
//////////////////////////////////////////////////////////-->
<% include ../partials/footer.ejs %>
  <a href="#0" class="cd-top">Top</a>
</body>
</html>